@charset "UTF-8";
/* CSS Document */
.fl {
  float: left;
}

.fr {
  float: right;
}

.ov {
  overflow: hidden;
}

.clear {
  content: '';
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
  visibility: hidden;
  zoom: 1;
}

.zol-menu-bgc {
  background-color: #FFF;
  color: #B1191A;
}

.zol-wrapperbox {
  width: 1200px;
  margin: 0 auto;
}

.select-ctactive {
  background-color: #F5F5F5;
  color: #c60000;
}

.this-city {
  background-color: #c60000;
  color: #fff;
}

.shop-list-hover {
  box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
  -webkit-box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
}

/*--权重问题 可以加父元素!!!!--*/
form .login-rt .login-box .tag1 .reg-input-sty {
  border: 1px solid #CC0000;
}

form .login-rt .login-box .tag2 .reg-input-sty {
  border: 1px solid #CC0000;
}

.guide-line {
  border-bottom: 4px solid #fff;
}

.reg-info .tb-form .reg-input-sty {
  border: 1px solid #CC0000;
}

.toolbar-login .tool-login-inf .reg-input-sty {
  border: 1px solid #CC0000;
}

#pages .page-sty {
  color: #fff;
  border: 1px solid #CC0000;
  background-color: #CC0000;
}

/*全局公共样式*/
