@charset "UTF-8";
/* 
	主页scss to css
 */
/* 吸顶条top */
.zol-topbar {
  height: 29px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  z-index: 998;
}

.zol-topbar .wrapper {
  width: 1200px;
  margin: 0 auto;
}

.zol-topbar .wrapper .zol-login-info {
  float: left;
  line-height: 29px;
}

.zol-topbar .wrapper .zol-login-info .zol-backhome {
  padding-right: 20px;
}

.zol-topbar .wrapper .zol-login-info .zol-login {
  padding-right: 20px;
}

.zol-topbar .wrapper .zol-login-info .zol-login a {
  color: #f60;
}

.zol-topbar .wrapper .zol-login-info .zol-register a {
  color: #f60;
}

.zol-topbar .wrapper .zol-topmenu {
  margin-right: 15px;
  float: right;
}

.zol-topbar .wrapper .zol-topmenu li {
  color: #888;
  float: left;
  line-height: 29px;
  padding: 0 12px;
}

.zol-topbar .wrapper .zol-topmenu li a:hover {
  color: #c00;
  text-decoration: underline;
}

.zol-topbar .wrapper .zol-topmenu li .zol-topmenu-nohover:hover {
  color: #666;
  text-decoration: none;
}

.zol-topbar .wrapper .zol-topmenu li .zol-topmenu-ico {
  position: absolute;
  top: 8px;
  width: 14px;
  height: 14px;
  background: url(../img/topbar_ico.png) no-repeat 4px -40px;
}

.zol-topbar .wrapper .zol-topmenu li .zol-topmenu-phone {
  display: inline-block;
  width: 60px;
  text-align: right;
  background: url(../img/topbar_ico.png) no-repeat -10px 0;
}

.zol-topbar .wrapper .zol-topmenu li:hover .zol-topmenu-ico {
  transition: 0.3s linear;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.zol-changetel {
  width: 1200px;
  margin: 10px auto;
  text-align: center;
}

.zol-changetel a:hover {
  color: #f60;
}

/* ----------顶部信息---用户导航↑↑↑↑↑-------------------------- */
/* ----------顶部logo---搜索↓↓↓↓-------------------------- */
.zol-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  /*---搜索框---*/
}

.zol-head .zol-hdlogo a:nth-child(1) {
  float: left;
  display: block;
  padding-right: 10px;
  border-right: 1px solid #eee;
}

.zol-head .zol-hdlogo div:nth-child(2) {
  float: right;
  padding-left: 10px;
  position: relative;
}

.zol-head .zol-hdlogo div:nth-child(2) h2 {
  position: relative;
  z-index: 1002;
  width: 68px;
  font-weight: normal;
  color: #333;
  padding-left: 8px;
  background: #fff;
  cursor: pointer;
}

.zol-head .zol-hdlogo div:nth-child(2) h2 em {
  position: absolute;
  left: 52px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/city-icon.png) no-repeat 4px 10px;
}

.zol-head .zol-hdlogo div:nth-child(2) #zol-citymap {
  width: 140px;
  min-height: 60px;
  position: absolute;
  z-index: 1001;
  top: 27px;
  background: #fff;
  display: none;
}

.zol-head .zol-hdlogo div:nth-child(2) #zol-citymap li {
  margin: 4px 5px;
  height: 16px;
  line-height: 16px;
  float: left;
}

.zol-head .zol-hdlogo div:nth-child(2) #zol-citymap li a {
  display: block;
  width: 24px;
  padding: 6px 6px;
  border-right: none;
}

.zol-head .zol-search {
  /*---搜索热词---*/
}

.zol-head .zol-search .zol-sch-box {
  overflow: hidden;
}

.zol-head .zol-search .zol-sch-box :nth-child(1) {
  width: 427px;
  height: 20px;
  padding: 5px 10px;
  font-size: 16px;
  color: #CCCCCC;
  border: 2px solid #C40000;
}

.zol-head .zol-search .zol-sch-box :nth-child(2) {
  width: 80px;
  height: 34px;
  font-size: 16px;
  background: #C40000;
  color: #fff;
  cursor: pointer;
}

.zol-head .zol-search .zol-hotkey::before {
  content: '';
  clear: both;
  overflow: hidden;
  height: 0;
}

.zol-head .zol-search .zol-hotkey {
  padding-top: 10px;
}

.zol-head .zol-search .zol-hotkey a {
  color: #999;
  margin: 0 5px;
}

.zol-head .zol-search .zol-hotkey a:hover {
  color: #c60;
  text-decoration: underline;
}

/*---大导航类---*/
.zol-nav-wrapper {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
  border-bottom: 2px solid #B1191A;
  position: relative;
  z-index: 1000;
}

.zol-nav-wrapper .zol-goods-box, .zol-nav-wrapper .zol-nav-main, .zol-nav-wrapper .zol-nav-adv {
  position: absolute;
}

.zol-nav-wrapper .zol-goods-box {
  width: 200px;
  top: 0;
  left: 0;
  color: #fff;
  background: #B1191A;
}

.zol-nav-wrapper .zol-goods-box h2 {
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  background: #CE1A1B;
}

.zol-nav-wrapper .zol-goods-box .zol-nav {
  border-left: 1px solid #B1191A;
}

.zol-nav-wrapper .zol-goods-box .zol-nav li {
  height: 64px;
  padding-left: 36px;
  border-bottom: 1px solid #BD3B3C;
  position: relative;
}

.zol-nav-wrapper .zol-goods-box .zol-nav li div {
  font-size: 14px;
}

.zol-nav-wrapper .zol-goods-box .zol-nav li div:nth-of-type(1) {
  height: 30px;
  line-height: 30px;
  background: url(../img/nav/item.png) no-repeat 144px 11px;
}

.zol-nav-wrapper .zol-goods-box .zol-nav li div:nth-of-type(1) span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/nav/classify-icon.png) no-repeat;
  position: absolute;
  left: 12px;
  top: 7px;
}

.zol-nav-wrapper .zol-goods-box .zol-nav li div:nth-of-type(2) {
  padding-top: 4px;
}

.zol-nav-wrapper .zol-goods-box .zol-nav li div:nth-of-type(2) a {
  font-size: 12px;
  color: #fff;
  padding-right: 5px;
}

.zol-nav-wrapper .zol-goods-box .zol-nav li div:nth-of-type(2) a:hover {
  transition: 0.2s linear;
  color: #B1191A;
  text-decoration: underline;
}

.zol-nav-wrapper .zol-goods-box .zol-nav li:nth-of-type(2) div:nth-of-type(1) span {
  background-position: 0 -16px;
}

.zol-nav-wrapper .zol-goods-box .zol-nav li:nth-of-type(3) div:nth-of-type(1) span {
  background-position: 0 -32px;
}

.zol-nav-wrapper .zol-goods-box .zol-nav li:nth-of-type(4) div:nth-of-type(1) span {
  background-position: 0 -51px;
}

.zol-nav-wrapper .zol-goods-box .zol-nav li:nth-of-type(5) div:nth-of-type(1) span {
  background-position: 0 -67px;
}

.zol-nav-wrapper .zol-goods-box .zol-nav li:nth-of-type(6) div:nth-of-type(1) span {
  background-position: 0 -85px;
}

.zol-nav-wrapper .zol-goods-box .zol-nav li:hover {
  background-color: #fff;
}

.zol-nav-wrapper .zol-goods-box .zol-nav li:hover div:nth-of-type(1) {
  color: #B1191A;
}

.zol-nav-wrapper .zol-goods-box .zol-nav li:hover div:nth-of-type(2) a {
  transition: 0.2s linear;
  color: #B1191A;
}

.zol-nav-wrapper .zol-goods-box .zol-nav li:last-child {
  background-color: #B1191A;
}

.zol-nav-wrapper .zol-goods-box .zol-nav .nav-menu-conbox {
  width: 1000px;
  background: #fff;
  box-sizing: border-box;
  border-right: 1px solid #C50505;
  border-bottom: 1px solid #C50505;
  position: absolute;
  left: 200px;
  top: 0;
  display: none;
  z-index: 101;
}

.zol-nav-wrapper .zol-goods-box .zol-nav .nav-menu-conbox .nav-menu-content {
  background: #fff;
  width: 720px;
  min-height: 442px;
  padding-left: 30px;
  padding-top: 12px;
  position: relative;
}

.zol-nav-wrapper .zol-goods-box .zol-nav .nav-menu-conbox .nav-menu-content .nav-menu-ico dt, .zol-nav-wrapper .zol-goods-box .zol-nav .nav-menu-conbox .nav-menu-content .nav-menu-ico dd {
  float: left;
  line-height: 24px;
}

.zol-nav-wrapper .zol-goods-box .zol-nav .nav-menu-conbox .nav-menu-content .nav-menu-ico dt {
  font-weight: bold;
}

.zol-nav-wrapper .zol-goods-box .zol-nav .nav-menu-conbox .nav-menu-content .nav-menu-ico dd {
  padding-left: 46px;
  background: url(../img/nav/service.png) no-repeat 20px 0;
}

.zol-nav-wrapper .zol-goods-box .zol-nav .nav-menu-conbox .nav-menu-content .nav-menu-ico dd a:hover {
  text-decoration: underline;
}

.zol-nav-wrapper .zol-goods-box .zol-nav .nav-menu-conbox .nav-menu-content .nav-menu-ico dd:nth-of-type(2) {
  background-position: 20px -24px;
}

.zol-nav-wrapper .zol-goods-box .zol-nav .nav-menu-conbox .nav-menu-content .nav-menu-ico dd:nth-of-type(3) {
  background-position: 20px -47px;
}

.zol-nav-wrapper .zol-goods-box .zol-nav .nav-menu-conbox .nav-menu-content .nav-menu-ico dd:nth-of-type(4) {
  background-position: 20px -71px;
}

.zol-nav-wrapper .zol-goods-box .zol-nav .nav-menu-conbox .nav-menu-content .nav-menu-ico dd:nth-of-type(5) {
  background-position: 20px -95px;
}

.zol-nav-wrapper .zol-goods-box .zol-nav .nav-menu-conbox .nav-menu-content .nav-menu-ico dd:nth-of-type(6) {
  background-position: 20px -119px;
}

.zol-nav-wrapper .zol-goods-box .zol-nav .nav-menu-conbox .nav-menu-content .nav-menu-ico a {
  font-size: 14px;
  color: #00AE75;
}

.zol-nav-wrapper .zol-goods-box .zol-nav .nav-menu-conbox .nav-menu-content .nav-menu-subclass {
  line-height: 24px;
}

.zol-nav-wrapper .zol-goods-box .zol-nav .nav-menu-conbox .nav-menu-content .nav-menu-subclass dt {
  float: left;
  min-width: 60px;
  font-weight: bold;
  color: #333;
  padding-right: 24px;
  padding-bottom: 8px;
  background: url(../img/nav/type-arrow.png) no-repeat 76px 8px;
}

.zol-nav-wrapper .zol-goods-box .zol-nav .nav-menu-conbox .nav-menu-content .nav-menu-subclass dt a:hover {
  transition: 0.2s linear;
  color: #B1191A;
}

.zol-nav-wrapper .zol-goods-box .zol-nav .nav-menu-conbox .nav-menu-content .nav-menu-subclass dd {
  margin: 10px 0 10px 90px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
}

.zol-nav-wrapper .zol-goods-box .zol-nav .nav-menu-conbox .nav-menu-content .nav-menu-subclass dd a {
  padding: 0 10px;
  border-right: 1px solid #eee;
}

.zol-nav-wrapper .zol-goods-box .zol-nav .nav-menu-conbox .nav-menu-content .nav-menu-subclass dd a:hover {
  transition: 0.2s linear;
  color: #B1191A;
  text-decoration: underline;
}

.zol-nav-wrapper .zol-goods-box .zol-nav .nav-menu-conbox .nav-menu-content .nav-menu-logo {
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.zol-nav-wrapper .zol-goods-box .zol-nav .nav-menu-conbox .nav-menu-content .nav-menu-logo li {
  box-sizing: border-box;
  width: 118px;
  height: 60px;
  padding-left: 0;
  border-bottom: 0 none;
  margin: 1px;
  float: left;
}

.zol-nav-wrapper .zol-goods-box .zol-nav .nav-menu-conbox .nav-menu-content .nav-menu-logo li a {
  width: 118px;
  height: 60px;
  display: block;
  border: 1px solid #fff;
}

.zol-nav-wrapper .zol-goods-box .zol-nav .nav-menu-conbox .nav-menu-content .nav-menu-logo a:hover {
  transition: 0.3s linear;
  border: 1px solid #eee;
}

.zol-nav-wrapper .zol-goods-box .zol-nav li:nth-of-type(2) .nav-menu-conbox {
  top: -65px;
}

.zol-nav-wrapper .zol-goods-box .zol-nav li:nth-of-type(3) .nav-menu-conbox {
  top: -130px;
}

.zol-nav-wrapper .zol-goods-box .zol-nav li:nth-of-type(4) .nav-menu-conbox {
  top: -195px;
}

.zol-nav-wrapper .zol-goods-box .zol-nav li:nth-of-type(5) .nav-menu-conbox {
  top: -260px;
}

.zol-nav-wrapper .zol-goods-box .zol-nav li:nth-of-type(6) .nav-menu-conbox {
  top: -325px;
}

.zol-nav-wrapper .zol-nav-main {
  left: 208px;
}

.zol-nav-wrapper .zol-nav-main li {
  float: left;
}

.zol-nav-wrapper .zol-nav-main li a {
  font-size: 16px;
  line-height: 42px;
  color: #333;
  padding: 0 15px;
}

.zol-nav-wrapper .zol-nav-main li a:hover {
  transition: 0.2s linear;
  color: #FF5353;
}

.zol-nav-wrapper .zol-nav-adv {
  line-height: 42px;
  right: 0;
}

.zol-nav-wrapper .zol-nav-adv a {
  font-size: 16px;
  color: #FF5353;
}

.zol-nav-wrapper .zol-nav-adv a:hover {
  transition: 0.3s linear;
  color: #C40000;
}

.zol-nav-wrapper .zol-nav li:nth-of-type(1):hover div:nth-of-type(1) span {
  background: url(../img/nav/classify-icon.png) no-repeat -18px 0;
}

.zol-nav-wrapper .zol-nav li:nth-of-type(2):hover div:nth-of-type(1) span {
  background: url(../img/nav/classify-icon.png) no-repeat -17px -16px;
}

.zol-nav-wrapper .zol-nav li:nth-of-type(3):hover div:nth-of-type(1) span {
  background: url(../img/nav/classify-icon.png) no-repeat -17px -32px;
}

.zol-nav-wrapper .zol-nav li:nth-of-type(4):hover div:nth-of-type(1) span {
  background: url(../img/nav/classify-icon.png) no-repeat -18px -51px;
}

.zol-nav-wrapper .zol-nav li:nth-of-type(5):hover div:nth-of-type(1) span {
  background: url(../img/nav/classify-icon.png) no-repeat -18px -67px;
}

.zol-nav-wrapper .zol-nav li:nth-of-type(6):hover div:nth-of-type(1) span {
  background: url(../img/nav/classify-icon.png) no-repeat -17px -85px;
}

/* 中部焦点内容 轮播图 注意定位时 层级关系z-index带来的问题*/
.zol-focusinfo .zol-carousel-shell {
  box-sizing: border-box;
  height: 453px;
  padding-left: 210px;
  padding-top: 10px;
  position: relative;
  /*-------焦点轮播图---------*/
  /*轮播图下方图片展示*/
  /*轮播图右侧展示*/
}

.zol-focusinfo .zol-carousel-shell .zol-carousel-lt {
  position: relative;
  z-index: 10;
  width: 740px;
  height: 290px;
  overflow: hidden;
  margin: 0;
}

.zol-focusinfo .zol-carousel-shell .zol-carousel-lt ul {
  position: absolute;
  top: 0;
}

.zol-focusinfo .zol-carousel-shell .zol-carousel-lt ul li {
  float: left;
}

.zol-focusinfo .zol-carousel-shell .zol-carousel-lt ul li img {
  width: 100%;
}

.zol-focusinfo .zol-carousel-shell .zol-carousel-lt .page, .zol-focusinfo .zol-carousel-shell .zol-carousel-lt .prev, .zol-focusinfo .zol-carousel-shell .zol-carousel-lt .next {
  cursor: pointer;
}

.zol-focusinfo .zol-carousel-shell .zol-carousel-lt .prev {
  background: url(../img/banner/focus-arrow.png) no-repeat 0 0;
}

.zol-focusinfo .zol-carousel-shell .zol-carousel-lt .next {
  background: url(../img/banner/focus-arrow.png) no-repeat 0 -74px;
}

.zol-focusinfo .zol-carousel-shell .zol-carousel-lt .prev:hover {
  background-position: -40px 0;
}

.zol-focusinfo .zol-carousel-shell .zol-carousel-lt .next:hover {
  background-position: -40px -74px;
}

.zol-focusinfo .zol-carousel-shell .zol-carousel-under {
  width: 740px;
}

.zol-focusinfo .zol-carousel-shell .zol-carousel-under ul {
  display: flex;
}

.zol-focusinfo .zol-carousel-shell .zol-carousel-under ul li {
  width: 100%;
  height: 149px;
  border-left: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  padding-left: 10px;
  background: #fff;
  position: relative;
}

.zol-focusinfo .zol-carousel-shell .zol-carousel-under ul li a:nth-child(1) {
  color: #333;
  line-height: 30px;
  font-size: 16px;
}

.zol-focusinfo .zol-carousel-shell .zol-carousel-under ul li p {
  color: #D33F3F;
  font-size: 14px;
}

.zol-focusinfo .zol-carousel-shell .zol-carousel-under ul li a:last-child {
  display: block;
  position: absolute;
  bottom: 1px;
  right: 1px;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
}

.zol-focusinfo .zol-carousel-shell .zol-carousel-under ul li:last-child {
  border-right: 1px solid #E6E6E6;
}

.zol-focusinfo .zol-carousel-shell .zol-carousel-rt {
  width: 240px;
  position: absolute;
  right: 0;
  top: 10px;
}

.zol-focusinfo .zol-carousel-shell .zol-carousel-rt a {
  display: block;
}

.zol-focusinfo .zol-carousel-shell .zol-carousel-rt a:last-child {
  padding-top: 2px;
}

/* ----首页主体内容区-------------------- */
/* ----侧边栏 购物信息 足迹 优惠券等-------------------- */
aside {
  position: fixed;
  right: -8px;
  top: 0;
  height: 100%;
  width: 46px;
  background: #333;
  z-index: 2000;
  /* 登录遮罩层！！！ */
}

aside .zol-toolbar {
  height: 100%;
  width: 46px;
  position: absolute;
  top: 0;
  right: 0;
}

aside .zol-toolbar .toolbar-top {
  position: absolute;
  top: 5%;
  left: 0;
}

aside .zol-toolbar .toolbar-top div {
  margin: 10px 0;
}

aside .zol-toolbar .toolbar-top .toolbar-myindent {
  width: 46px;
  height: 30px;
  margin-bottom: 5px;
  cursor: pointer;
  background: url(../img/index/aside_right/bar_ico.png) no-repeat 0 -6px;
}

aside .zol-toolbar .toolbar-top .toolbar-myindent span {
  display: block;
  width: 50px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  padding: 0 5px;
  background-color: #f33;
  position: absolute;
  z-index: -110;
  left: 0;
  display: none;
}

aside .zol-toolbar .toolbar-top .toolbar-myindent:hover {
  background: url(../img/index/aside_right/bar_ico.png) no-repeat 0 -6px #f33;
}

aside .zol-toolbar .toolbar-top .toolbar-footprint {
  width: 46px;
  height: 30px;
  margin-bottom: 5px;
  cursor: pointer;
  background: url(../img/index/aside_right/bar_ico.png) no-repeat 0 -82px;
}

aside .zol-toolbar .toolbar-top .toolbar-footprint span {
  display: block;
  width: 50px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  padding: 0 5px;
  background-color: #f33;
  position: absolute;
  z-index: -110;
  left: 0;
  display: none;
}

aside .zol-toolbar .toolbar-top .toolbar-footprint:hover {
  background: url(../img/index/aside_right/bar_ico.png) no-repeat 0 -82px #f33;
}

aside .zol-toolbar .toolbar-top .toolbar-cart {
  width: 46px;
  height: 30px;
  margin-bottom: 5px;
  cursor: pointer;
  background: url(../img/index/aside_right/bar_ico.png) no-repeat 0 -115px;
}

aside .zol-toolbar .toolbar-top .toolbar-cart span {
  display: block;
  width: 50px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  padding: 0 5px;
  background-color: #f33;
  position: absolute;
  z-index: -110;
  left: 0;
  display: none;
}

aside .zol-toolbar .toolbar-top .toolbar-cart i {
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background: #f33;
  position: absolute;
  top: 84px;
  right: 14px;
}

aside .zol-toolbar .toolbar-top .toolbar-cart:hover {
  background: url(../img/index/aside_right/bar_ico.png) no-repeat 0 -115px #f33;
}

aside .zol-toolbar .toolbar-top .toolbar-coupon {
  width: 46px;
  height: 30px;
  cursor: pointer;
  background: url(../img/index/aside_right/bar_ico.png) no-repeat 0 -695px;
}

aside .zol-toolbar .toolbar-top .toolbar-coupon span {
  display: block;
  width: 50px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  padding: 0 5px;
  background-color: #f33;
  position: absolute;
  z-index: -110;
  left: 0;
  display: none;
}

aside .zol-toolbar .toolbar-top .toolbar-coupon:hover {
  background: url(../img/index/aside_right/bar_ico.png) no-repeat 0 -695px #f33;
}

aside .zol-toolbar .toolbar-under {
  position: absolute;
  bottom: 1%;
  left: 0;
}

aside .zol-toolbar .toolbar-under .toolbar-advice a {
  display: block;
  width: 34px;
  height: 40px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

aside .zol-toolbar .toolbar-under .toolbar-backtop {
  width: 46px;
  height: 40px;
  cursor: pointer;
  background: url(../img/index/aside_right/bar_ico.png) no-repeat 0 -183px;
}

aside .zol-toolbar .toolbar-under .toolbar-backtop a {
  display: block;
  height: 40px;
}

aside .zol-toolbar .toolbar-under .toolbar-backtop:hover {
  background: url(../img/index/aside_right/bar_ico.png) no-repeat 0 -183px #f33;
}

aside #layer_show {
  display: none;
}

aside .zol-layerbox {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
}

aside .toolbar-login {
  width: 320px;
  height: 360px;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

aside .toolbar-login input {
  float: none;
  border: 1px solid #e6e6e6;
  width: 290px;
  height: 36px;
  margin: 10px 0;
  padding-left: 5px;
}

aside .toolbar-login .tool-login-top {
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
  background-color: #FAFAFA;
}

aside .toolbar-login .tool-login-top h4 {
  font-size: 16px;
  font-weight: normal;
  color: #666;
}

aside .toolbar-login .tool-login-top h4 .close-layer {
  float: right;
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 15px;
  margin: 9px 5px;
  text-align: center;
  cursor: pointer;
  background: url(../img/reg/bg.png) no-repeat -181px -81px;
}

aside .toolbar-login .tool-login-top h4 .close-layer:hover {
  background-position: -156px -81px;
}

aside .toolbar-login .tool-login-inf {
  text-align: center;
}

aside .toolbar-login .tool-login-inf .tool-infhd {
  font-size: 14px;
  text-align: left;
  padding-left: 14px;
  padding-top: 10px;
}

aside .toolbar-login .tool-login-inf form p:nth-of-type(3) {
  text-align: left;
  padding-left: 14px;
  line-height: 33px;
}

aside .toolbar-login .tool-login-inf form p:nth-of-type(3) input {
  width: 13px;
  height: 13px;
  margin-right: 4px;
}

aside .toolbar-login .tool-login-inf form p:nth-of-type(3) a {
  float: right;
  padding-right: 14px;
  color: blue;
}

aside .toolbar-login .tool-login-inf form p:nth-of-type(3) a:hover {
  color: #f33;
  text-decoration: underline;
}

aside .toolbar-login .tool-login-inf form p:nth-of-type(4) input {
  font-size: 16px;
  color: #fff;
  background-color: #DC2F2F;
  border-radius: 6px;
}

aside .toolbar-login .tool-login-inf form p:nth-of-type(4) input:hover {
  background-color: #f33;
}

aside .toolbar-login .tool-login-inf form p:nth-of-type(5) {
  text-align: right;
}

aside .toolbar-login .tool-login-inf form p:nth-of-type(5) a {
  padding-right: 14px;
  color: blue;
}

aside .toolbar-login .tool-login-inf form p:nth-of-type(5) a:hover {
  color: #f33;
  text-decoration: underline;
}

aside .toolbar-login .tool-login-inf .tool-login-team {
  height: 60px;
  padding-top: 10px;
}

aside .toolbar-login .tool-login-inf .tool-login-team span {
  float: left;
  padding-top: 5px;
  padding-left: 12px;
}

aside .toolbar-login .tool-login-inf .tool-login-team a {
  display: inline-block;
  width: 38px;
  height: 40px;
  margin: 0 5px;
  background: url(../img/reg/bg.png) no-repeat 0 -81px;
}

aside .toolbar-login .tool-login-inf .tool-login-team a:nth-of-type(1):hover {
  background-position: 0 -121px;
}

aside .toolbar-login .tool-login-inf .tool-login-team a:nth-of-type(2) {
  background-position: -40px -81px;
}

aside .toolbar-login .tool-login-inf .tool-login-team a:nth-of-type(2):hover {
  background-position: -39px -121px;
}

aside .toolbar-login .tool-login-inf .tool-login-team a:nth-of-type(3) {
  background-position: -79px -81px;
}

aside .toolbar-login .tool-login-inf .tool-login-team a:nth-of-type(3):hover {
  background-position: -78px -121px;
}

aside .toolbar-login .tool-login-inf .tool-login-team a:nth-of-type(4) {
  background-position: -117px -81px;
}

aside .toolbar-login .tool-login-inf .tool-login-team a:nth-of-type(4):hover {
  background-position: -117px -121px;
}

section {
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  /* ----全国团购-------------------- */
  /* ----1F手机类--官网已经改版------------------ */
  /* --优惠券领取-- */
  /*-----品牌精选--*/
}

section .zol-tgou-info {
  height: 44px;
  line-height: 44px;
}

section .zol-tgou-info h2 {
  font-size: 24px;
  font-weight: normal;
  padding-left: 15px;
  float: left;
  background: url(../img/index/tg/module-title.png) no-repeat left center;
}

section .zol-tgou-info p {
  min-width: 120px;
  float: right;
}

section .zol-tgou-info p a {
  color: #666;
  padding: 0 16px;
}

section .zol-tgou-info p a:hover {
  color: #C40000;
  text-decoration: underline;
}

section .zol-tgou-img {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}

section .zol-tgou-img div {
  border-bottom: 3px solid #ffffff;
  box-sizing: border-box;
}

section .zol-tgou-img div img {
  width: 298px;
  height: 180px;
  border-right: 1px solid #e6e6e6;
}

section .zol-tgou-img div div {
  width: 100%;
  height: 32px;
  line-height: 32px;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}

section .zol-tgou-img div div b {
  color: #f33;
  font-weight: bold;
  font-size: 18px;
}

section .zol-tgou-img div:hover {
  border-bottom-color: #c60000;
}

section .zol-couponCneter {
  padding-top: 40px;
}

section .zol-couponCneter ul {
  margin-top: 20px;
  padding-bottom: 30px;
  overflow: hidden;
}

section .zol-couponCneter ul li {
  float: left;
  width: 230px;
  height: 100px;
  border: 1px solid #e6e6e6;
  box-shadow: 1px 1px 10px #e6e6e6;
  margin-right: 15px;
  position: relative;
}

section .zol-couponCneter ul li .coup-price {
  overflow: hidden;
}

section .zol-couponCneter ul li .coup-price span {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #FF6666;
  float: left;
}

section .zol-couponCneter ul li .coup-price div {
  float: right;
  color: #FF6666;
  padding: 5px 5px 0 30px;
}

section .zol-couponCneter ul li .coup-price div h4 {
  font-size: 14px;
}

section .zol-couponCneter ul li .coup-price div p {
  color: #888;
}

section .zol-couponCneter ul li .get-coup {
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 20px 8px 0 8px;
  border-top: 1px solid #e6e6e6;
}

section .zol-couponCneter ul li .get-coup a {
  color: #FF6666;
}

section .zol-couponCneter ul li .get-coup a:hover {
  text-decoration: underline;
}

section .zol-couponCneter ul li .get-coup i {
  display: inline-block;
  width: 16px;
  height: 100px;
  background: url(../img/index/zol-home-icos.png) no-repeat -69px 0;
  position: absolute;
  right: -16px;
  top: 0;
}

section .zol-couponCneter ul li:nth-of-type(1) {
  width: 156px;
  padding-left: 16px;
  background: #EC3639;
  color: #fff;
}

section .zol-couponCneter ul li:nth-of-type(1) h2 {
  font-size: 24px;
  font-weight: normal;
  padding-top: 6px;
}

section .zol-couponCneter ul li:nth-of-type(1) p {
  font-size: 14px;
  color: #e6e6e6;
}

section .zol-couponCneter ul li:nth-of-type(1) a {
  color: #fff;
  font-size: 14px;
  line-height: 30px;
}

section .zol-couponCneter ul li:nth-of-type(1) a:hover {
  text-decoration: underline;
}

section .zol-couponCneter ul li:nth-of-type(1) i {
  display: inline-block;
  width: 16px;
  height: 100px;
  background: url(../img/index/zol-home-icos.png) no-repeat -91px 0;
  position: absolute;
  right: -16px;
  top: 0;
}

section .zol-brands h2 {
  font-size: 20px;
  padding-left: 40px;
  padding-bottom: 10px;
  background: url(../img/index/zol-home-icos.png) no-repeat -132px -128px;
}

section .zol-brands h2 span {
  font-size: 14px;
  font-weight: normal;
  color: #888;
  padding-left: 10px;
}

section .brands-list ul {
  display: flex;
  justify-content: space-around;
}

section .brands-list ul li {
  width: 230px;
  height: 340px;
  border: 1px solid #e6e6e6;
  text-align: center;
}

section .brands-list ul li a:nth-child(1) {
  display: block;
  padding: 24px 0 14px 14px;
}

section .brands-list ul li a:nth-child(2) {
  color: #333;
  line-height: 30px;
  font-size: 16px;
}

section .brands-list ul li a:nth-child(2):hover {
  color: #f33;
  text-decoration: underline;
}

section .brands-list ul li p {
  color: #f33;
  font-size: 14px;
}

section .brands-list ul li p::before {
  content: "RMB ";
  color: #333;
}

section .brands-list ul li:nth-of-type(1) a:nth-child(1) {
  padding: 0;
}

section .brands-list ul li:nth-of-type(1) p::before {
  content: "";
  color: #333;
}

section .brands-list ul li:hover {
  box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
  -webkit-box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
}

/* 电竞 热门商品列表 */
.zol-games {
  padding-top: 30px;
}

.zol-games h2 {
  font-size: 20px;
  padding-left: 40px;
  padding-bottom: 10px;
  background: url(../img/index/zol-home-icos.png) no-repeat -132px -171px;
}

.zol-games h2 span {
  font-size: 14px;
  font-weight: normal;
  color: #888;
  padding-left: 10px;
}

.zol-games h2 a {
  font-size: 14px;
  font-weight: normal;
  float: right;
  padding-right: 24px;
  background: url(../img/index/zol-home-icos.png) no-repeat -122px -285px;
}

.zol-games h2 a:hover {
  color: #f33;
  background-position: -122px -317px;
}

.zol-games .zol-gamebox {
  display: flex;
  justify-content: space-around;
  /* -------------------------------- */
}

.zol-games .zol-gamebox .zol-gamebox-lt {
  width: 594px;
  position: relative;
  box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
  -webkit-box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gmlt-top h4 {
  font-size: 18px;
  color: #fff;
  height: 48px;
  line-height: 48px;
  padding-left: 12px;
  background-color: #7095EE;
  box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
  -webkit-box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gmlt-top .gm-guide {
  position: absolute;
  top: 14px;
  right: 0;
  font-size: 14px;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gmlt-top .gm-guide li {
  color: #fff;
  margin: 0 16px;
  float: left;
  cursor: pointer;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gm-cont1 {
  position: relative;
  z-index: 10;
  width: 740px;
  height: 290px;
  overflow: hidden;
  margin: 0;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gm-cont1 ul {
  position: absolute;
  top: 0;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gm-cont1 ul li {
  float: left;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gm-cont1 ul li img {
  width: 100%;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gm-cont1 .page {
  right: 50%;
  bottom: 0;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gm-cont1 .page span {
  width: 10px;
  height: 10px;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gm-cont2 {
  position: relative;
  z-index: 10;
  width: 740px;
  height: 290px;
  overflow: hidden;
  margin: 0;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gm-cont2 ul {
  position: absolute;
  top: 0;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gm-cont2 ul li {
  float: left;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gm-cont2 ul li img {
  width: 100%;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gm-cont2 .page {
  right: 50%;
  bottom: 0;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gm-cont2 .page span {
  width: 10px;
  height: 10px;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gm-cont3 {
  position: relative;
  z-index: 10;
  width: 740px;
  height: 290px;
  overflow: hidden;
  margin: 0;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gm-cont3 ul {
  position: absolute;
  top: 0;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gm-cont3 ul li {
  float: left;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gm-cont3 ul li img {
  width: 100%;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gm-cont3 .page {
  right: 50%;
  bottom: 0;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gm-cont3 .page span {
  width: 10px;
  height: 10px;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gmlt-under {
  padding-top: 20px;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gmlt-under ul {
  display: flex;
  justify-content: space-between;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gmlt-under li {
  width: 196px;
  float: left;
  margin-left: 12px;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gmlt-under li .title-inf {
  display: block;
  width: 170px;
  padding-top: 16px;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gmlt-under li .title-inf:hover {
  color: #f33;
  text-decoration: underline;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gmlt-under li a img {
  width: 160px;
  height: 160px;
}

.zol-games .zol-gamebox .zol-gamebox-lt .gmlt-under li p {
  font-size: 14px;
  font-weight: bold;
  color: #f33;
  padding: 8px 0px;
}

.zol-games .zol-gamebox .zol-gamebox-rt {
  width: 594px;
  margin-left: 12px;
  box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
  -webkit-box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
}

.zol-games .zol-gamebox .zol-gamebox-rt .gmrt-top h4 {
  font-size: 18px;
  color: #fff;
  height: 48px;
  line-height: 48px;
  padding-left: 12px;
  background-color: #9B74E9;
  box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
  -webkit-box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
}

.zol-games .zol-gamebox .zol-gamebox-rt .gmrt-list {
  padding-top: 20px;
}

.zol-games .zol-gamebox .zol-gamebox-rt .gmrt-list li {
  width: 185px;
  float: left;
  margin-left: 12px;
}

.zol-games .zol-gamebox .zol-gamebox-rt .gmrt-list li .title-inf {
  display: block;
  width: 170px;
  padding-top: 16px;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.zol-games .zol-gamebox .zol-gamebox-rt .gmrt-list li .title-inf:hover {
  color: #f33;
  text-decoration: underline;
}

.zol-games .zol-gamebox .zol-gamebox-rt .gmrt-list li a img {
  width: 160px;
  height: 160px;
}

.zol-games .zol-gamebox .zol-gamebox-rt .gmrt-list li p {
  font-size: 14px;
  font-weight: bold;
  color: #f33;
  padding: 8px 0px;
}

/* 3C数码集市 */
.zol-digital {
  padding-top: 30px;
}

.zol-digital h2 {
  font-size: 20px;
  padding-left: 40px;
  padding-bottom: 10px;
  background: url(../img/index/zol-home-icos.png) no-repeat -132px -211px;
}

.zol-digital h2 span {
  font-size: 14px;
  font-weight: normal;
  color: #888;
  padding-left: 10px;
}

.zol-digital .zol-digbox {
  display: flex;
  justify-content: space-around;
}

.zol-digital .zol-digbox .zol-digbox-lt {
  width: 594px;
  position: relative;
  box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
  -webkit-box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
}

.zol-digital .zol-digbox .zol-digbox-lt .digbox-top h4 {
  font-size: 18px;
  color: #fff;
  height: 48px;
  line-height: 48px;
  padding-left: 12px;
  background-color: #3CCBBC;
  box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
  -webkit-box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
}

.zol-digital .zol-digbox .zol-digbox-lt .digbox-top h4 a {
  font-size: 14px;
  font-weight: normal;
  float: right;
  padding-right: 24px;
  color: #fff;
}

.zol-digital .zol-digbox .zol-digbox-lt .digbox-top h4 a span {
  display: inline-block;
  width: 17px;
  height: 17px;
  line-height: 15px;
  text-align: center;
  margin-left: 5px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.zol-digital .zol-digbox .zol-digbox-lt .digbox-goods {
  padding-top: 20px;
}

.zol-digital .zol-digbox .zol-digbox-lt .digbox-goods li {
  width: 185px;
  float: left;
  margin-left: 12px;
}

.zol-digital .zol-digbox .zol-digbox-lt .digbox-goods li .digbox-title {
  display: block;
  width: 170px;
  padding-top: 16px;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.zol-digital .zol-digbox .zol-digbox-lt .digbox-goods li .digbox-title:hover {
  color: #f33;
  text-decoration: underline;
}

.zol-digital .zol-digbox .zol-digbox-lt .digbox-goods li a img {
  width: 160px;
  height: 160px;
}

.zol-digital .zol-digbox .zol-digbox-lt .digbox-goods li p {
  font-size: 14px;
  font-weight: bold;
  color: #f33;
  padding: 8px 0px;
}

.zol-digital .zol-digbox .zol-digbox-lt .digbox-unico ul {
  display: flex;
  justify-content: space-around;
  width: 594px;
  border-top: 1px solid #e6e6e6;
  padding: 10px 0;
}

.zol-digital .zol-digbox .zol-digbox-lt .digbox-unico ul li {
  float: left;
  position: relative;
}

.zol-digital .zol-digbox .zol-digbox-lt .digbox-unico ul li span {
  position: absolute;
  right: -10px;
  top: 50%;
  width: 1px;
  height: 20px;
  margin-top: -10px;
  background-color: #e6e6e6;
}

.zol-digital .zol-digbox .zol-digbox-rt {
  width: 594px;
  margin-left: 10px;
  position: relative;
  box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
  -webkit-box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
}

.zol-digital .zol-digbox .zol-digbox-rt .digbox-top h4 {
  font-size: 18px;
  color: #fff;
  height: 48px;
  line-height: 48px;
  padding-left: 12px;
  background-color: #EB9E74;
  box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
  -webkit-box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
}

.zol-digital .zol-digbox .zol-digbox-rt .digbox-top h4 a {
  font-size: 14px;
  font-weight: normal;
  float: right;
  padding-right: 24px;
  color: #fff;
}

.zol-digital .zol-digbox .zol-digbox-rt .digbox-top h4 a span {
  display: inline-block;
  width: 17px;
  height: 17px;
  line-height: 15px;
  text-align: center;
  margin-left: 5px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.zol-digital .zol-digbox .zol-digbox-rt .digbox-rtgoods {
  padding-top: 20px;
}

.zol-digital .zol-digbox .zol-digbox-rt .digbox-rtgoods li {
  width: 185px;
  float: left;
  margin-left: 12px;
}

.zol-digital .zol-digbox .zol-digbox-rt .digbox-rtgoods li .digbox-title {
  display: block;
  width: 170px;
  padding-top: 16px;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.zol-digital .zol-digbox .zol-digbox-rt .digbox-rtgoods li .digbox-title:hover {
  color: #f33;
  text-decoration: underline;
}

.zol-digital .zol-digbox .zol-digbox-rt .digbox-rtgoods li a img {
  width: 160px;
  height: 160px;
}

.zol-digital .zol-digbox .zol-digbox-rt .digbox-rtgoods li p {
  font-size: 14px;
  font-weight: bold;
  color: #f33;
  padding: 8px 0px;
}

.zol-digital .zol-digbox .zol-digbox-rt .digbox-unico ul {
  display: flex;
  justify-content: space-around;
  width: 594px;
  border-top: 1px solid #e6e6e6;
  padding: 10px 0;
}

.zol-digital .zol-digbox .zol-digbox-rt .digbox-unico ul li {
  float: left;
  position: relative;
}

.zol-digital .zol-digbox .zol-digbox-rt .digbox-unico ul li span {
  position: absolute;
  right: -10px;
  top: 50%;
  width: 1px;
  height: 20px;
  margin-top: -10px;
  background-color: #e6e6e6;
}

/* 分割线 */
.split-line {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 10px 0;
  text-align: center;
  background: url(../img/index/shop/digital-3c_hd.png) repeat-x 0 40px #f7f7f7;
}

.split-line span {
  font-size: 24px;
  color: #333;
  background-color: #f7f7f7;
}

/* 超市弹性盒 */
.zol-shopbox {
  background: #f7f7f7;
}

.zol-shopbox ul {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.zol-shopbox li {
  width: 215px;
  padding: 14px 0 0 10px;
  margin-top: 12px;
  background: #fff;
  box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
  -webkit-box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
}

.zol-shopbox li .shopbox-title {
  display: block;
  width: 170px;
  padding-top: 16px;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.zol-shopbox li .shopbox-title:hover {
  color: #f33;
  text-decoration: underline;
}

.zol-shopbox li a img {
  width: 200px;
  height: 200px;
}

.zol-shopbox li p {
  font-size: 14px;
  font-weight: bold;
  color: #f33;
  padding: 8px 0px;
}

/* 页脚部分 */
footer {
  margin-top: 40px;
  border-top: 1px solid #D9D9D9;
}

footer .foot-page {
  width: 1200px;
  margin: 0 auto;
  height: 200px;
}

footer .foot-page ul {
  padding: 30px 0;
  overflow: hidden;
  border-bottom: 1px solid #e6e6e6;
}

footer .foot-page li {
  float: left;
  padding-left: 52px;
  margin: 0 16px;
  line-height: 26px;
}

footer .foot-page li a {
  display: block;
  padding-left: 5px;
}

footer .foot-page li a p:nth-child(1) {
  font-size: 16px;
  color: #333;
}

footer .foot-page li a p:nth-child(2) {
  font-size: 14px;
  color: #666;
}
